@font-face {
  font-family: Guardian Sans;
  src: url("GuardianSans-Regular.otf");
}

#map {
  height: 300px;
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
